* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 4fr;
    height: 100vh;
}

.sidebar {
    grid-row: 1 / 3;

    display: flex;
    flex-direction: column;
    gap: 5rem;

    background-color: #1992d4;
    color: #fff;

    padding: 2rem 0rem 0rem 2rem;
    font-weight: bold;

    font-size: 2rem;
}

a:link,
a:visited {
    color: inherit;
    text-decoration: none;
}

div > a,
div > p {
    display: flex;
    gap: 1rem;
    align-items: center;
}

div > a > svg {
    align-self: center;
}

p > svg {
    height: 4rem !important;
    width: 4rem !important;
}

.logo {
    font-size: 3rem;
}

.sidebar-nav-links {
    display: flex;
    flex-direction: column;

    justify-content: space-around;
    gap: 2rem;
}

.sidebar-option-link {
    display: flex;
    flex-direction: column;

    justify-content: flex-start;
    gap: 2rem;
}

.header-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1.5fr;
}

.upper-content {
    display: flex;

    justify-content: space-between;
    align-items: center;
    padding: 1rem 4rem 1rem 4rem;
}

.upper-content-left,
.upper-content-right {
    display: flex;
    align-items: center;
    flex: 1;
}

.upper-content-right {
    justify-content: flex-end;
    gap: 2rem;
}

.upper-content-left {
    gap: 2rem;
}

.search-bar:focus {
    outline: none;
}

.search-bar {
    flex: 1;
    border: none;
    background-color: #e2e8f0;
    height: 2.5rem;
    border-radius: 100px;
}

.profile-pic {
    height: 4rem;
    width: 4rem;
}

.profile-name {
    font-size: 2rem;
    font-weight: bold;
}

.lower-content {
    display: flex;

    justify-content: space-between;
    align-items: center;
    padding: 1rem 4rem 1rem 4rem;
}
